*{ margin: 1;
    box-sizing: border-box;
}
*{ margin: 1;
    box-sizing: border-box;
}
.kuva1{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.kuva2{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.kuva3{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.kuva4{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.kuva5{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.kuva6{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.kuva7{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.kuva8{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.kuva9{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.kuva10{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}